/* reset */
a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* debug */

.upper-header {
    background-color: #000000;
    color: white;
}

.main-header {
    background-color: lightblue;
    height: 5rem;
}

.black {
    height: 30rem;
    background-color: grey;
}

.blue {
    height: 30rem;
    background-color: lightblue;
}

.box {
    border: 1px solid black;
    height: 5rem;
    background-color: pink;
}

.rompi-il-cerchio {
    align-self: flex-end;
    color: white;


}

.debug {
    background-color: blueviolet;
}

.main-jumbo {

    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    height: 18rem;
}

/* UTILS */
.btn-buy {
    color: white;
    background-color: #CD3D0F;
    padding: 7px 10px;
    border: 1px solid trasparent;
    border-radius: 25px;
}