/* reset */
a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* upper-header */
#upper-header {
    background-color: #000000;
    color: white;
}

/* main-header */
#main-header {
    height: 5rem;
}

/* main-jumbo */
.rompi-il-cerchio {
    align-self: flex-end;
    color: white;
}

/* playstation5 *


/* second-jumbo */


/* new-releases*/


/* playstation4 */


/* playstation-plus */


/* play-store */


/* playstation-now */


/* upper-footer */


/* bottom-footer */
#bottom-footer {
    background-color: #00439C;
}









.main-jumbo {

    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    height: 18rem;
}

.second-jumbo {
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    height: 18rem;
}

/* UTILS */
.btn-buy {
    text-align: center;
    color: white;
    background-color: #CD3D0F;
    padding: 7px 10px;
    border: 1px solid #CD3D0F;
    border-radius: 25px;
}

.btn-infos {
    text-align: center;
    color: white;
    background-color: #2D64E6;
    padding: 7px 10px;
    border: 1px solid #2D64E6;
    border-radius: 25px;
}

.btn-infos.small {
    width: 45%;
    color: white;
    background-color: #2D64E6;
    padding: 4px 0;
    border: 1px solid #2D64E6;
    border-radius: 25px;
}

.fa-regular::before {
    max-width: 3px;

}

.btn-infos.another {
    color: #2D64E6;
    background-color: #D9DADC;
    border: 1px solid #D9DADC;
}

.btn-infos.another2 {
    color: black;
    background-color: white;
    border: 1px solid white;
}

.form-select {
    color: white;
    background-color: transparent;
}