/* debug */
.upper-header {
    background-color: #000000;
    color: white;
}

.main-header {
    background-color: lightblue;
    height: 5rem;
}


.black {
    height: 30rem;
    background-color: grey;
}

.blue {
    height: 30rem;
    background-color: lightblue;
}



.box {
    background-color: pink;
    height: 8rem;
    border: 1px solid black;
}

.rompi-il-cerchio {
    align-self: flex-end;

}

/* UTILS */