/* reset */
body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button>a:hover {
    color: white;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

footer>*li {
    margin: 0.5rem 0;
}

/* upper-header */
.upper-header {
    background-color: #000000;
    color: white;
}

/* main-header */
.lens-img {
    max-width: 50%;
}


/* main-jumbo */
#main-jumbo {
    padding-top: 60px;
}


.jumbotron-sfondo {
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-position: center;

}

.jumbo-position {
    align-self: flex-end;
    color: white;
}

.container.jumbotron {
    height: 70vh;
}

/* playstation5 */
.box-items {
    filter: opacity(0.5);
}

.box-items:active {
    filter: opacity(1);
    border-bottom: 3px solid #00439C;
}


/* second-jumbo */
.jumbotron-sfondo-2 {
    min-height: 100%;
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    padding: 5rem 0;

}

/* new-releases*/
#new-releases {
    background-color: #1F1F1F;
}

/* playstation4 */


/* playstation-plus */
#playstation-plus {
    background-color: #BEBCBB;
}

/* play-store */


/* playstation-now */
#playstation-now {
    background-color: #161C3B;
}

/* upper-footer */


/* bottom-footer */
#bottom-footer {
    background-color: #00439C;
}

/* UTILS */
.btn-buy {
    width: 130px;
    text-align: center;
    color: white;
    background-color: #CD3D0F;
    padding: 5px 15px;
    border: 3px solid #CD3D0F;
    border-radius: 25px;
    margin: 0 0 3rem 0;
}

.btn-buy:hover {
    box-shadow: inset 0 0 0 2px black;
}

.btn-buy>a:hover {
    color: white
}

.btn.login {
    text-align: center;
    background-color: #363636;
    padding: 7px 10px;
    border: 1px solid #363636;
    border-radius: 25px;
}

.btn.login:hover {
    box-shadow: inset 0 0 0 2px white;
}

.btn-infos {
    width: 200px;
    text-align: center;
    color: white;
    background-color: #2D64E6;
    padding: 7px 10px;
    border: 1px solid #2D64E6;
    border-radius: 25px;
}

.btn-infos:hover {
    box-shadow: inset 0 0 0 2px white;
}

.btn-infos.small {
    width: 100px;
    color: white;
    background-color: #2D64E6;
    padding: 5px 0;
    border: 1px solid #2D64E6;
    border-radius: 25px;
}

.btn-infos.another {
    width: 250px;
    color: #2D64E6;
    background-color: #D9DADC;
    border: 1px solid #D9DADC;
}

.btn-infos.another:hover {
    box-shadow: inset 0 0 0 2px #2D64E6;
}

.btn-infos.another2 {
    width: 200px;
    color: black;
    background-color: white;
    border: 1px solid white;
}

.btn-infos.another2:hover {
    box-shadow: inset 0 0 0 2px black;
}

.form-select {
    color: white;
    background-color: transparent;
}

.mini-logo-jumbo {
    max-width: 50%;
    margin-bottom: 1.5rem;
}

.mini-logo-jumbo-custom {
    width: 50%;
    margin-bottom: 1.5rem;
}

.mini-logo-jumbo-custom2 {
    width: 30%;
    margin-bottom: 1rem;
}

.fa-trademark {
    font-size: 7px;
    position: relative;
    bottom: 5px;
    left: 2px;
}

.fa-registered {
    font-size: 15px;
    position: relative;
    bottom: 8px;
    left: -6px;
}

.style-country {
    color: white;
    background-color: #00439C;
}

.bounced1 {
    position: relative;
}

.bounced1:hover {
    position: relative;
    bottom: 30px;
}

.bounced2 {
    position: relative;
}

.bounced2:hover {
    position: relative;
    bottom: 30px;
}

.bounced3 {
    position: relative;
}

.bounced3:hover {
    position: relative;
    bottom: 30px;
}

.bounced4 {
    position: relative;
}

.bounced4:hover {
    position: relative;
    bottom: 30px;
}

.bounced5 {
    position: relative;
}

.bounced5:hover {
    position: relative;
    bottom: 30px;
}

.bounced6 {
    position: relative;
}

.bounced6:hover {
    position: relative;
    bottom: 30px;
}

.release:hover {
    filter: invert(1);
}